body {
  background-color: gray;
  text-align: center;
  font-size: 2em;
}

.imputAdd {
  background-color: white;
}

.button {
  background-color: white;
}

.listofelements {
  min-height: 80vh;
  margin-top: 2%;
  border-radius: 35px;
  border: 1px solid #cacaca;
  background-color: white;
}

.list-group li {
  margin-top: 20px;
  background-color: whitesmoke;
}
